
<suite name="Account-Suite">
	<listeners>
		<listener class-name="utils.TestListners" />
	</listeners>
	<test name="PradeepTesting">
		<classes>
			<class name="test.Accounts">
			<methods>
			<include name="LogIn" />
			<include name="AccountsSetup" />
			<include name="AccountInfo" />
			<include name="DeleteAccount" />
			</methods>
			</class>
		</classes>
	</test>
</suite>	
	
		
		
		
		
		
		